* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.main {
  padding: 1rem;
}

.tasks-container {
  margin: 4rem 15% 4rem;
  display: flex;
  flex-direction: row;
}

.task-detail {
  margin: 0 1rem 0;
  border: solid 1px black;
  border-radius: 2rem;
  padding: 2rem;
  width: 100%;
}

.task-list {
  background-color: #D7FDEC;
  width: 30rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
.task-list h2 {
  margin: 0 1rem 1rem;
}

.task {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0.3rem 1rem 0.3rem;
  margin: 0 0 0.3rem;
  border-radius: 2rem;
}
.task h4 {
  font-size: 1rem;
  margin: 0.5rem 0 0.5rem;
}
.task p {
  font-size: 0.8rem;
  color: rgb(98, 98, 98);
  margin: 1rem 0 1rem;
}

.task-desc {
  display: none;
}

.focus {
  display: flex;
  flex-direction: row;
  padding: 0.3rem 1rem 0.3rem;
  margin: 0 0 0.3rem;
  border-radius: 2rem;
  background-color: #A9FBD7;
}
.focus h4 {
  font-size: 1rem;
  margin: 0.5rem 0 0.5rem;
}
.focus p {
  font-size: 0.8rem;
  color: rgb(98, 98, 98);
  margin: 1rem 0 1rem;
}

.task-info {
  width: 16rem;
}

.delete {
  width: 4rem;
  margin: 0.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.delete svg:hover {
  cursor: pointer;
  -webkit-animation: wiggle 1s forwards;
          animation: wiggle 1s forwards;
}

@-webkit-keyframes wiggle {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}

@keyframes wiggle {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}
.task-detail h3 {
  margin-bottom: 1rem;
}

.task-detail-date {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 1rem;
}

@media all and (max-width: 1500px) {
  .task-list {
    width: 24rem;
  }
}
@media all and (max-width: 1250px) {
  .task-list {
    width: 20rem;
  }
}
@media all and (max-width: 1120px) {
  .task-list {
    width: 16rem;
  }
}
@media all and (max-width: 900px) {
  .main {
    overflow-y: auto;
    padding: 0;
  }
  .tasks-container {
    margin: 2rem 1rem 4rem;
    display: flex;
    justify-content: center;
  }
  .task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .focus .task-desc {
    display: block;
  }
  .delete-container {
    display: flex;
    justify-content: center;
  }
  .delete {
    justify-content: center;
  }
  .task-detail {
    display: none;
  }
}/*# sourceMappingURL=main.module.css.map */