// Importar colores
@use '../../App.scss';
//


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: App.$blue-ui;
    padding: 0 4rem 0;
    color: white;
    height: 6rem;
}

.logo-container{
    text-align: center;
    width: 30vw;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.button{
    background-color: App.$green-focus;
    color: App.$green-font;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
    font-size: .9rem;
    cursor: pointer;
    border-radius: 2rem;
    &:hover{
        background-color: App.$green-focus-light;
    }
}

@media screen and (max-width: 900px) {
    .logo{
        font-size: 1.5rem;
        padding: .5rem;
    }
    .button{
        text-align: center;
    }

    .header{
        padding: 1rem 1rem 1rem;
    }
}